
body
{
	background-image: url(https://image.freepik.com/free-vector/realistic-monochromatic-tropical-leaves-wallpaper_52683-31305.jpg);
	background-repeat: no-repeat;
        background-size: cover;
	
}



h1
{
	font-size: 48px;
	color: white;
	text-align: center;
}
h2
{
	font-size: 24px;
	color: white;
	text-align: center;
}
#left
{
	float: left;
	 margin-right: 400px;
	 margin-left:  400px;

}
#right
{
	float: right;
	 margin-right: 400px;
	 margin-left: 400px;

}













/*Nieodwiedzony link*/
a:link
{
	color:white;
}

/*Odwiedzony link*/
a:visited
{
	color:dark violet;
}

/*Link po najechaniu kursorem*/
a:hover
{
	color: red;
}

