body
{
	background-color: orange;
	font-family: Verdana;
	font-size: 20px;
	color: white;
}

h2
{
	font-size: 48px;
	font-color: blue;
	color: red;
}

/*Nieodwiedzony link*/
a:link
{
	color:white;
}

/*Odwiedzony link*/
a:visited
{
	color:dark violet;
}

/*Link po najechaniu kursorem*/
a:hover
{
	color: red;
}

