body
{
	background-image: url(https://image.freepik.com/free-vector/realistic-monochromatic-tropical-leaves-wallpaper_52683-31305.jpg);
	background-repeat: no-repeat;
        background-size: cover;
	
}



h1
{
	font-size: 48px;
	color: white;
	text-align: center;
}
h2
{
	font-size: 24px;
	color: white;
	text-align: center;
}
h3
{
	font-size: 20px;
	color: white;
	text-align: center;
}
#left
{
	text-align: center;
	
	font-size: 24px;
	color: white;
	clear: both;

}

#left_zdjecie
{
    
	width: 300px;
	hight: 300px;

}
#right_tekst
{
	
	float: right;
	margin-left: 100px;
	margin-right: 100px;

	color: white;
	

}














/*Nieodwiedzony link*/
a:link
{
	color:white;
}

/*Odwiedzony link*/
a:visited
{
	color:dark violet;
}

/*Link po najechaniu kursorem*/
a:hover
{
	color: red;
}


